#top {
	position: relative;
	background-color: #18adf2;
	color: white;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

#bottom {
	position: absolute;
	background-color: #dddddd;
	color: #4f4f4f;
	padding : 5px;
	bottom: 0;
	width: 100%;
	margin: 0px 0px 10px -1%;
	padding: 5px;
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

#right {
	float: right;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

.center_content {
	position: relative;
	background-color: #dddddd;
	padding: 5px;
}

.left_content {
	background-color: #dddddd;
	padding: 5px;
	margin-left: 170px;
}

.right_content {
	background-color: #dddddd;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	float: right;
	margin: 9px 2% 0% 0%;
}

#top a:link:hover, #top a:visited:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}